
.form{
    width: 450px;
    background-color: aliceblue;
    box-shadow: 0 2px 8px black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    position:absolute;
    /* left: 50%; */
    /* position: sticky; */
}

.inner-form{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    padding: 1rem;
    gap:0.5rem;
    
}

.inner-form button{
    background-color: blueviolet;
}

.add-course{
    text-align: end;
}

.add-course button{
    background-color: blueviolet;
    color: white;
    width: 120px;
    height: 50px;
    margin-top: 2rem;
    margin-right: 2rem;
}

.cross
{
    cursor: pointer;
    background-color: black;
    color: aliceblue;
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;

}