
.form-div {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


.form{
    width: 450px;
    background-color: aliceblue;
    box-shadow: 0 2px 8px black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    position:absolute;
    /* left: 50%; */
    /* position: sticky; */
}

.inner-form{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    padding: 1rem;
    gap:0.5rem;
    
}

.inner-form button{
    background-color: blueviolet;
}

.add-course{
    background-color: aqua;
    text-align: end;
}